<div class="contentblock">
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.input :firstname %>
    <%= f.input :surname %>
    <%= f.input :email, as: :email, autofocus: true, autocomplete: "email" %>
    <%= f.input :password, as: :password, autocomplete: "new-password", hint: "#{@minimum_password_length} characters minimum" if @minimum_password_length %>
    <%= f.input :password_confirmation, as: :password, autocomplete: "new-password" %><br />
    <%= f.button :submit, "Sign up" %>
<% end %>

<%= render "devise/shared/links" %>
</div>