<style>
  .collapse-icon {
    color: var(--inactive_link);
    cursor: pointer;
    display: inline-flex;
    float: right;
    font-size: 1.3em;
  }

  .contentblock {
    box-sizing: border-box;
    width: 100%;
    border-radius: 7px;
    padding: 25px; /* top right bottom left */
    margin: 15px 0;
    text-align: left;
  }

  /* when there's a content box inside another content box */
  .contentblock .contentblock {
    margin: 15px 0 0 0;
    padding: 20px;
  }

  .title {
    color: var(--title);
    font-size: 1.5em;
    font-weight:  bold;
    margin-bottom: 0;
    vertical-align: middle;
    line-height: 1.6em;
  }
</style>

<div class="contentblock" style="background-color:<%= bg %>;">
  <% if collapsible? %>
    <div class="title" onclick="toggleContent(this)" style="cursor: pointer;">
      <%= title if title? %>
      <span class="collapse-icon"><%= default_symbol %></span>
    </div>
  <% elsif title? %>
    <div class="title"><%= title %></div>
  <% end %>

  <div class="content" style="display:<%= default_display || 'block' %>;">
    <%= body %>
  </div>
</div>

<script>
  function toggleContent(element) {
    let content = element.nextElementSibling;
    if (content.style.display == 'none') {
      content.style.display = 'block';
      element.children[0].textContent = '-';
    } else {
      content.style.display = 'none';
      element.children[0].textContent = '+'
    }
  }
</script>
