<style>
  .grid {
    column-gap: <%= column_gap %>;
    grid-template-columns: <%= columns_css %>;
    grid-template-rows: <%= rows_css %>;
    row-gap: <%= row_gap %>;
  }

  .responsive-grid {
    column-gap: <%= column_gap %>;
    row-gap: <%= row_gap %>;
  }
</style>

<div class="<%= class_name %>">
  <%= content %>
</div>
