<style>
  .grid {
    display: grid;
    column-gap: <%= column_gap %>;
    grid-template-columns: <%= columns_css || 'auto' %>;
    grid-template-rows: <%= rows_css || 'auto' %>;
    margin: 0 auto;
    max-width: 100%;
    row-gap: <%= row_gap %>;
  }
</style>

<div class="<%= class_name %>">
  <%= content %>
</div>
