<%= form_for(@user_type, url: session_path(@user_type)) do |f| %>
  <div>
    <%= f.label :email, t("activerecord.attributes.#{@user_type}.email") %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.label :password, t("activerecord.attributes.#{@user_type}.password"), autocomplete: "current-password" %>
    <%= f.password_field :password %>
    <%= link_to t('devise.passwords.new.forgot_your_password'), new_password_path(@user_type), class: 'hint-link' %>
  </div>
  <div>
    <%= f.submit t('devise.sessions.new.sign_in') %><br> 
    <span class='checkbox-field'>
      <%= f.label(:remember_me) do %>
        <%= f.check_box(:remember_me) %>
        <%= t('devise.labels.remember_me') %>
      <% end %>
    </span>
  </div>
  <div>
    <%= t('home.index.or_create_an_account') %><br>
    <%= link_to t('devise.registrations.new.sign_up'), new_registration_path(@user_type) %>
  </div>
<% end %>