<style>
  .modalbox {
    background: var(--content_blocks_color);
    display: none;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 25px; /* top right bottom left */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    max-width: 600px;

  }

  .backdrop {
    background-color: rgba(0,0,0,0.2);
    width: 100vw;
    height: 100vw;
    position: fixed;
    top:0;
    left:0;
    display: none;
  }
</style>

<div class="backdrop">
  <div id="<%= @modal_id %>" class="modalbox">
    <div class="title">
      <%= @title %> <button onclick="closeModal(this)" style="float: right;">x</button>
    </div>
    <%= body %>
  </div>
</div>

<script>
  var btn = document.getElementById("<%= @show_button_id %>");
  btn.setAttribute('onclick', 'showModal()');

  function showModal() {
    var modal = document.getElementById("<%= @modal_id %>")
    var backdrop = modal.parentElement

    backdrop.style.display = 'block'
    modal.style.display = 'block'
  }

  function closeModal(element) {
    element.parentElement.parentElement.parentElement.style.display = 'none'
    element.parentElement.parentElement.style.display = 'none'
  }
</script>
