<div class="nav">

  <span class="title">Jobs</span>

  <%= link_to 'Página inicial', root_path %>
  <%= link_to 'Ver empresas cadastradas', companies_path %>
  <%= link_to 'Vagas recentes', job_opportunities_path %>

  <% if @current_user.nil? %>
    <div class="dropdown-login">
      <button class="dropbtn">Entrar</button>
      <div class="dropdown-content">
        <%= link_to 'Candidato', new_candidate_session_path %>
        <%= link_to 'Empresa', new_employee_session_path %>
      </div>
    </div> 

    <div class="dropdown-signin">
      <button class="dropbtn">Cadastre-se</button>
      <div class="dropdown-content">
        <%= link_to 'Candidato', new_candidate_registration_path %>
        <%= link_to 'Empresa', new_employee_registration_path %>
      </div>
    </div> 
  <%end%>

  <% if @current_user&.is_a?(Candidate) %>
    <%= link_to 'Área do candidato', candidates_path(current_candidate) %>
    <%= link_to 'Meu currículo', resume_path(current_candidate.resume) %>
    <div class="navright">
    <%= current_candidate.email %>
    <%= link_to 'Sair', destroy_candidate_session_path, method: :delete %>
    </div>
  <% end %>

  <% if @current_user&.is_a?(Employee) %>
    <%= link_to 'Área da empresa', company_path(current_employee.company) %>
    <div class="navright">
      <%= current_employee.email %> (<%=current_employee.company.name%> - <%=current_employee.role%>)
      <%= link_to 'Sair', destroy_employee_session_path, method: :delete %>
    </div>
  <% end %>

</div>