<div class="nav">
  <div class="navleft">
    <%= link_to root_path do %>
      <span class="title">Jobs</span>
    <% end %>

    <%= link_to 'Ver empresas cadastradas', companies_path %>
    <%= link_to 'Vagas recentes', job_opportunities_path %>
  </div>

  <div class="navright">
    <% if @current_user&.is_a?(Candidate) %>
      <%= link_to 'Área do candidato', candidates_path(current_candidate) %>
      <%= link_to 'Meu currículo', resume_path(current_candidate.resume) %>
      <%= current_candidate.email %>
      <%= link_to 'Sair', destroy_candidate_session_path, method: :delete %>
    <% end %>

    <% if @current_user&.is_a?(Employee) %>
      <%= link_to 'Área da empresa', company_path(current_employee.company) %>
      <%= current_employee.email %> (<%=current_employee.company.name%> - <%=current_employee.role%>)
      <%= link_to 'Sair', destroy_employee_session_path, method: :delete %>
    <% end %>
  </div>
</div>