<div class="nav">
  <div class="navleft">
    <%= link_to root_path do %>
      <span class="navtitle"><%= @title %></span>
    <% end %>

    <span class="links-row"><%= left %></span>
  </div>

  <div class="navright">
    <span class="links-row"><%= right %></span>
    <div class="nav-mobile-dropdown" onclick="toggleMenu()">
      <i class="fa fa-bars green-icon"></i>
    </div>
  </div>
</div>

<div class="nav-mobile-dropdown-content">
  <div class="mobile-menu">
    <%= left %>
    <%= right %>
  </div>
</div>

<script>
  function toggleMenu() {
    let content = document.getElementsByClassName('nav-mobile-dropdown-content')[0]
    let menu = document.getElementsByClassName('mobile-menu')[0]
    console.log(content)
    if (content.style.display == 'none') {
      content.style.display = 'block';
      menu.style.display = 'flex';
    } else {
      content.style.display = 'none';
      menu.style.display = 'none';
    }
  }
</script>
