<center>
<div class="contentblock">

  <h2>Candidatura</h2>

  <h3>Candidato: <%= @candidate.firstname %> <%= @candidate.surname %> 
  (<%= link_to 'Ver currículo', resume_path(@job_application.candidate) %>)</h3>
  <h4>CPF:</h4> <%= @candidate.cpf %>
  <h4>Endereço:</h4> <%= @candidate.address %>
  <h4>Sobre mim:</h4> <%= @candidate.about_me %>
  <h4>Vaga:</h4> <%= link_to @job_application.job_opportunity.job_title, job_opportunity_path(@job_application.job_opportunity) %>
  <h4>Empresa:</h4> <%= link_to @job_application.job_opportunity.company.name, company_path(@job_application.job_opportunity.company) %>
  
  <% if employee_signed_in? %>
    <%= link_to "Fazer proposta para #{@job_application.candidate.firstname}", new_job_application_job_proposal_path(@job_application) %>
  <% end %>

  <% if candidate_signed_in? && current_candidate == @job_application.candidate %>
    <%= button_to 'Cancelar candidatura', job_application_path(@job_application), method: :delete, :class => "button" %>
  <%end%>

</div>  

<% if employee_signed_in? %>
  <div class="contentblock">
    <h4>Rejeitar candidatura</h4>
    Dê um motivo para a rejeição da candidatura.
    
    <div class= "reject-form">
      <%= form_tag decline_job_application_path, method: :post do %>
        <div>
          <%= label_tag t('.rejection_motive') %>
          <%= text_field_tag :rejection_motive, params[:rejection_motive] %>
        </div>
        <%= submit_tag 'Confirmar' %>
      <% end %>
    </div>
  </div>
<% end %>

