<div class="flex-container">
  <div>
    <%= render(BoxComponent.new) do |box| %>
      <%= box.title { t('.search') } %>
      <%= box.body do %>
        <%= form_tag(search_results_path, method: :get) do |f| %>
          <%= label_tag :search_input, t('.search_label') %>
          <%= text_field_tag :search_input, params[:search_input], required: true %>
          <%= submit_tag t('.search_button'), class: 'button' %>
        <% end %>
      <% end %>
    <% end %>

    <%= render(BoxComponent.new) do |box| %>
      <%= box.title { 'Vagas Recentes' } %>
      <%= box.body do %>
        <%= render(GridComponent.new(columns: 3)) do %>
          <% @job_opportunities.each do |job| %>
            <%= render(JobPreviewComponent.new(job_opportunity: job)) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= render(LoginComponent.new) %>
  </div>
</div>