<div class="flex-container">
  <div>
    <div class="contentblock">
      <h2><%= t('.search') %></h2>
      <%= form_tag(search_results_path, method: :get) do |f| %>
        <%= label_tag :search_input, t('.search_label') %>
        <%= text_field_tag :search_input, params[:search_input], required: true %>
        <%= submit_tag t('.search_button'), class: 'button' %>
      <% end %>
    </div>
    <div class="contentblock">
      <h2>Vagas recentes</h2>
      <% @job_opportunities.each do |job| %>
        <h4><%= link_to job.job_title, job_opportunity_path(job) %> - <%= job.company.name %></h4>
        <p>  (<%= job.place %>) </p>
      <%end%>
    </div>
  </div>

  <div>
    <%= render(LoginComponent.new) %>
  </div>
</div>