<%= render(PageComponent.new) do |component| %>
  <%= component.sidebar do %>
    <%= render(BoxComponent.new) do |box| %>
      <%= box.title do %>
        <%= user_avatar(current_candidate, size: '20x20') %>
        <%= @candidate.full_name %>
      <% end %>
      <%= box.body do %>
        <p><%= t_attr('candidate.document') %>: <%= current_candidate.document %></p>
        <p><%= t_attr('candidate.address') %>: <%= current_candidate.address %></p>
        <%= candidate_locale(@candidate.address) %>
        <%= candidate_website(@candidate.website) %>        
        <%= link_to 'Editar meus dados', edit_candidate_registration_path(@candidate) %>
      <% end %>
    <% end %>
  <% end %>

  <%= component.main_content do %>
    <%= render(BoxComponent.new) do |component| %>
      <% component.title do %>
        Minhas Candidaturas
      <% end %>
      <% component.body do %>
        <% if current_candidate.job_applications.count > 0 %>
          <% current_candidate.job_applications.each do |job_application| %>
            <%= render(ListItemComponent.new) do %>
              <%= link_to job_application.job_opportunity.job_title, job_application_path(job_application) %>
            <% end %>
          <% end %>
        <% else %>
          <div class="empty_state"><%= t('.empty_state.job_application') %></div>
        <% end %>
      <% end %>
    <% end %>

    <%= render(BoxComponent.new) do |component| %>
      <% component.title do %>
        Propostas recebidas
      <% end %>
      <% component.body do %>
        <% unless @candidate.job_proposals.count == 0 %>
          <% @current_candidate.job_proposals.each do |proposal| %>
            <%= render(ListItemComponent.new) do %>
              <%= link_to "#{proposal.job_application.job_opportunity.job_title} - #{proposal.job_application.company.name} (#{proposal.status})", job_application_job_proposal_path(proposal.job_application, proposal) %>
            <% end %>
          <% end %>
        <% else %>
          <div class="empty_state"><%= t('.empty_state.job_proposal') %></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>