<%= render(PageComponent.new) do |component| %>
  <%= component.sidebar do %>
    <%= render(BoxComponent.new) do |box| %>
      <%= box.body do %>
        <%= sidebar_avatar(@candidate.avatar) %>
        <p class="title"><%= @candidate.full_name %>
        <%= edit_candidate_info_button %></p>
        <%= candidate_locale(@candidate.address) %>
        <%= candidate_website(@candidate.website) %>
      <% end %>
    <% end %>
  <% end %>

  <%= component.main_content do %>

    <%= render(BoxComponent.new) do |component| %>
      <% component.title do %>
        <%= t(".about_me") %>
        <%= edit_candidate_info_button %>
      <% end %>

      <% component.body do %>
        <p><%= @candidate.about_me.html_safe %></p>
      <% end %>
    <% end %>

    <%= render(BoxComponent.new) do |component| %>
    <% component.title do %>
      <%= t('.work_experience') %>
      <%= add_item_button('add_work_experience_button') %>
    <% end %>

      <% component.body do %>
        <% if @work_experiences.empty? %>
          <div class="empty_state"><%= t('.empty_state.work_experience') %></div>
        <% end %>
        <% @work_experiences.each do |w| %>
          <%= render(BoxComponent.new(color: :secondary)) do |component| %>
            <%= component.body do %>
              <%= delete_item_button(w) %>
              <b><%= w.job_title %></b><br>
              <%= w.company_name %> <%= "- #{w.sector_humanize}" unless w.sector&.zero? %><br>
              <%= w.start_date&.strftime("%b/%Y") %> - <%= w.end_date&.strftime("%b/%y") || 'now' %><br>
              <%= w.location %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render(BoxComponent.new) do |component| %>
    <% component.title do %>
      <%= t('.degrees') %>
      <%= add_item_button('add_degree_button') %>
    <% end %>

      <% component.body do %>
        <% if @candidate.degrees.empty? %>
          <div class="empty_state"><%= t('.empty_state.degree') %></div>
        <% else %>
          <% @candidate.degrees.each do |d| %>
            <div style="padding: 15px 0 15px 0">
              <%= degree_headline(d.title, d.kind_humanize) %> <%= delete_item_button(d) %><br>
              <%= d.institution || t('.null_institution') %><br>
              <%= graduation_year(d.graduation_year) %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render(BoxComponent.new) do |component| %>
    <% component.title do %>
      <%= t('.candidate_skills') %>
      <%= add_item_button('add_candidate_skill_button') %>
    <% end %>

      <% component.body do %>
        <% if @candidate_skills.empty? %>
          <div class="empty_state"><%= t('.empty_state.candidate_skill') %></div>
        <% else %>
          <% @candidate_skills.each do |s| %>
            <div style="padding: 15px 0 15px 0">
              <b><%= s.skill_name %></b> <%= delete_item_button(s) %><br>
              <%= t_attr("candidate_skill.level.#{s.level}") %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render(BoxComponent.new) do |component| %>
    <% component.title do %>
      <%= t('.courses') %>
      <%= add_item_button('add_course_button') %>
    <% end %>

      <% component.body do %>
        <% if @courses.empty? %>
          <div class="empty_state"><%= t('.empty_state.course') %></div>
        <% else %>
          <% @courses.each do |c| %>
            <div style="padding: 15px 0 15px 0">
              <b><%= c.title %></b><%= delete_item_button(c) %><br>
              <%= course_certificate_link(c.certificate_link) %>
              <%= c.description %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render(BoxComponent.new) do |component| %>
    <% component.title do %>
      <%= t('.languages') %>
      <%= add_item_button('add_language_button') %>
    <% end %>

      <% component.body do %>
        <% if @candidate.languages.empty? %>
          <div class="empty_state"><%= t('.empty_state.language') %></div>
        <% else %>
          <% @candidate.languages.each do |l| %>
            <div style="padding: 15px 0 15px 0">
              <b><%= l.name %></b><%= delete_item_button(l) %><br>
              <%= l.proficiency_humanize %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if candidate_signed_in? %>
      <%= render(ModalBoxComponent.new(title: t('.new.skill'), show_button_id: 'add_candidate_skill_button', modal_id: 'add_candidate_skill_modal')) do |component| %>
        <% component.body do %>
          <%= render partial: 'candidate_skill_form' %>
        <% end %>
      <% end %>

      <%= render(ModalBoxComponent.new(title: t('.new.experience'), show_button_id: 'add_work_experience_button', modal_id: 'add_work_experience_modal')) do |component| %>
        <% component.body do %>
          <%= render partial: 'work_experience_form' %>
        <% end %>
      <% end %>

      <%= render(ModalBoxComponent.new(title: t('.new.degree'), show_button_id: 'add_degree_button', modal_id: 'add_degree_modal')) do |component| %>
        <% component.body do %>
          <%= render partial: 'degree_form' %>
        <% end %>
      <% end %>

      <%= render(ModalBoxComponent.new(title: t('.new.course'), show_button_id: 'add_course_button', modal_id: 'add_course_modal')) do |component| %>
        <% component.body do %>
          <%= render partial: 'course_form' %>
        <% end %>
      <% end %>

      <%= render(ModalBoxComponent.new(title: t('.new.language'), show_button_id: 'add_language_button', modal_id: 'add_language_modal')) do |component| %>
        <% component.body do %>
          <%= render partial: 'language_form' %>
        <% end %>
      <% end %>
    <% end %>

  <% end %>
<% end %>