<%= render partial: 'add_work_experience_modal' %>

<%= render(BoxComponent.new) do |component| %>
  <% component.title do %>
    <%= t(".personal_info") %> <%= link_to 'edit', edit_candidate_registration_path %>
  <% end %>

  <% component.body do %>
    <p><%= t(".full_name") %><br><b><%= @candidate.full_name %></b></p>
    <p><%= t(".about_me") %><br><b><%= @candidate.about_me %></b></p>
    <p><%= t(".address") %><br><b><%= @candidate.address %></b></p>
  <% end %>
<% end %>

<%= render(BoxComponent.new) do |component| %>
 <% component.title do %>
  <%= t('.work_experience') %> <a href="">add</a>
 <% end %>

  <% component.body do %>
    <% @candidate.work_experiences.each do |w| %>
      <%= render(BoxComponent.new(color: :secondary)) do |component| %>
        <%= component.body do %>
          <b><%= w.job_title %></b><br>
          <%= w.company_name || 'blank' %><br>
          <%= w.start_date %> - <%= w.end_date || 'now' %><br>
          <%= w.location %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
