<div class="contentblock">
  <h1>Cadastro de empresa</h1>

  <%= simple_form_for(@company, defaults: { input_html: { class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" } }) do |f| %>
    <%= f.input :name %>
    <%= f.input :domain %>
    <%= f.input :document %>

    <%= f.fields_for :address, defaults: { input_html: { class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" } } do |af| %>
      <%= af.input :zipcode %>
      <%= af.input :street %>
      <%= af.input :number %>
      <%= af.input :neighborhood %>
      <%= af.input :city %>
      <%= af.input :country, as: :string %>
    <% end %>

    <%= f.submit 'Cadastrar empresa', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  <% end %>

<p><%= link_to 'Voltar', root_path %>
</div>
