<% content_for(:html_title) { t('.title') } %>

<div class="contentblock">
  <h2><%= t('.title') %></h2>

  <%= simple_form_for(@company) do |f| %>
    <%= f.input :name %>
    <%= f.input :domain %>
    <%= f.input :document %>
    <%= f.input :logo, input_html: { accept: ['image/png'] } %>

    <%= f.fields_for :address do |af| %>
      <%= af.input :zipcode %>
      <%= af.input :street %>
      <%= af.input :number %>
      <%= af.input :neighborhood %>
      <%= af.input :city %>
      <%= af.input :country, as: :string %>
    <% end %>

    <%= f.button :submit, 'Cadastrar empresa' %>
  <% end %>

  <%= back_button %>
</div>
