<div class="contentblock">
  <h1>Cadastro de empresa</h1>

  <%= simple_form_for(@company) do |f| %>
    <%= f.input :name %>
    <%= f.input :domain %>
    <%= f.input :cnpj %>
    <%= f.input :address  %>
    <%= f.input %>
    <%= f.submit 'Cadastrar empresa' %>
  <% end %>

<p><%= link_to 'Voltar', root_path %>
</div>