<div class="contentblock">
  <h1>Cadastro de empresa</h1>

  <%= simple_form_for(@company) do |f| %>
    <%= f.input :name %>
    <%= f.input :domain %>
    <%= f.input :document %>

    <%= f.fields_for :addresses do |af| %>
      <%= af.input :zipcode %>
      <%= af.input :street %>
      <%= af.input :number %>
      <%= af.input :neighborhood %>
      <%= af.input :city %>
      <%= af.input :country, as: :string %>
    <% end %>

    <%= f.submit 'Cadastrar empresa' %>
  <% end %>

<p><%= link_to 'Voltar', root_path %>
</div>
