<%= render(BoxComponent.new(behavior: :default)) do |component| %>
  <%= component.title do %>
    Painel colaborador - <%= current_employee.firstname%> (<%=current_employee.role%>)
  <% end %>

  <%= component.body do %>
    <% if current_employee.admin? %>
      <h3>Funcionários cadastrados:</h3>
      <% @company.employees.each do |employee| %>
        <p><%= employee.firstname %> <%= employee.surname %> (<%= employee.role %>)</p>
      <% end %>
      <p><%= link_to 'Editar dados da empresa', edit_company_path(@company) %></p>
    <% end %>
    <p><%= link_to 'Cadastrar nova vaga', new_job_opportunity_path %></p>
  <% end %>
<% end %>

<%= render(BoxComponent.new(behavior: :collapsible, default: :closed)) do |component| %>
  <%= component.title { "Candidaturas recebidas (#{@company.job_applications.size})" } %>
  <%= component.body do %>
    <% if @company.job_applications.exists? %>
      <% @company.job_applications.each do |a| %>
        <p>
          <%= link_to "#{a.job_opportunity.job_title} - #{a.candidate.firstname} #{a.candidate.surname}", job_application_path(a) %>
          (<%=t("job_applications.status.#{a.status}")%>)
        </p>
      <% end %>
    <% else %>
      <p>Nenhuma candidatura foi recebida ainda.</p>
    <% end %>
  <% end %>
<% end %>

<%= render(BoxComponent.new(behavior: :collapsible, default: :closed)) do |component| %>
  <%= component.title { "Propostas enviadas (#{@company.job_proposals.size})" } %>
  <%= component.body do %>
    <% if @company.job_proposals.exists? %>
      <% @company.job_proposals.each do |a| %>
        <p><%= link_to "#{a.job_application.job_opportunity.job_title} - #{a.job_application.candidate.firstname} #{a.job_application.candidate.surname} [#{a.status}]", job_application_job_proposal_path(a.job_application, a) %></p>
      <% end %>
    <% else %>
      <p>Nenhuma proposta foi enviada.</p>
    <% end %>
  <% end %>
<% end %>

<%= render(BoxComponent.new(behavior: :collapsible, default: :closed)) do |component| %>
  <%= component.title { "Vagas disponíveis (#{@company.active_job_opportunities.size})" } %>
  <%= component.body do %>
    <% if @company.active_job_opportunities.exists? %>
      <%= render(GridComponent.new(columns: 2)) do %>
        <% @company.active_job_opportunities.each do |job| %>
          <%= render(JobPreviewComponent.new(job_opportunity: job)) %>
        <% end %>
      <% end %>
    <% else %>
      <p>Nenhuma vaga ativa no momento.</p>
    <% end %>
  <% end %>
<% end %>

<%= render(BoxComponent.new(behavior: :collapsible, default: :closed)) do |component| %>
  <%= component.title { "Vagas inativas (#{@company.inactive_job_opportunities.size})" } %>
  <%= component.body do %>
    <% if @company.inactive_job_opportunities.exists? %>
      <%= render(GridComponent.new(columns: 'auto')) do %>
        <% @company.inactive_job_opportunities.each do |job| %>
          <%= render(JobPreviewComponent.new(job_opportunity: job)) %>
        <% end %>
      <% end %>
    <% else %>
      <p>Nenhuma vaga inativa no momento.</p>
    <% end %>
  <% end %>
<% end %>
