<%= render(BoxComponent.new(color: :transparent)) do |component| %>
  <% component.body do %>
    <%= form_tag(companies_path, method: :get) do |f| %>
      <div class="search_container">
        <%= text_field_tag :search_input,
                           params[:search_input],
                           placeholder: t('.search_placeholder'),
                           required: true %>
        <button type="submit"><i class="fa fa-search green-icon"></i></button>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render(BoxComponent.new) do |box| %>
  <%= box.title { @search ? t('.search_result', input: @search) : t('.companies') } %>
  <%= box.body do %>
    <% if @companies.empty? %>
      <div class="empty_state"><%= t('.empty_state') %></div>
    <% else %>
      <%= render(GridComponent.new) do %>
        <% @companies.each do |company| %>
          <%= render(CompanyPreviewComponent.new(title: company.name, title_link: company_path(company))) do %>
            <%= company_logo(company, size: '80x80', link: company_path(company)) %>
            <%= company.address_short_form %><br>
            <%= company.active_job_opportunities.size %> <%= t('.active_opportunities') %><br>
          <% end %>
        <% end %>
      <% end %>
      <%= paginate @companies %>
    <% end %>
  <% end %>
<% end %>
