<%= render(BoxComponent.new) do |component| %>
  <%= component.title { 'Dados da empresa' } %>
  <%= component.body do %>
    <%= company_logo(@company, size: '80x80')%>
    <h3><%= t('.name') %></h3>
    <%= @company.name %> 
    <h3><%= t('.domain') %></h3>
    <%= @company.domain %>
    <h3><%= t('.address') %></h3>
    <%= @company.address_to_line || '-' %>
    <h3><%= t('.document') %></h3>
    <%= @company.document %>
  <% end %>
<% end %>

<%= render(BoxComponent.new()) do |component| %>
  <%= component.title { "Vagas disponíveis (#{@job_opportunities.size})" } %>
  <%= component.body do %>
    <% if @job_opportunities.exists? %>
      <%= render(GridComponent.new(columns: 2)) do %>
        <% @job_opportunities.each do |job| %>
          <%= render(JobPreviewComponent.new(job_opportunity: job)) %>
        <% end %>
      <% end %>
    <% else %>
      <p>Nenhuma vaga ativa no momento.</p>
    <% end %>
  <% end %>
<% end %>
