<center>

<% if employee_signed_in? && current_employee.company == @company %>
    <div class="employeepanel">
        <h2>Painel colaborador - <%= current_employee.firstname%> (<%=current_employee.role%>) </h2>

        <% if current_employee.admin? %>
            <h3>Funcionários cadastrados:</h3>
            <% @company.employees.each do |employee| %>
            <p><%= employee.firstname %> <%= employee.surname %> (<%= employee.role %>)</p>
            <%end%>
            <p><%= link_to 'Editar dados da empresa', edit_company_path(@company) %></p>
        <%end%>

        <p><%= link_to 'Cadastrar nova vaga', new_job_opportunity_path %></p>
    </div>

    <div class="contentblock">
        <h2>Vagas inativas</h2>
        <% if @company.job_opportunities.inactive.count == 0 %>
            <p>Nenhuma vaga ativa no momento.</p>
            <% else %>
            <% @company.job_opportunities.inactive.each do |job| %>
            <p><%= link_to "#{job.job_title} (#{job.status})", job_opportunity_path(job) %></p>
            <%end%> 
        <%end%>
    </div>

    <div class="contentblock">
        <h2>Candidaturas recebidas</h2>
        <% @company.job_opportunities.each do |o| %>
            <% o.job_applications.each do |a| %>
                <p><%=o.job_title %> - <%= link_to "#{a.candidate.firstname} #{a.candidate.surname}", resume_path(a.candidate) %> (<%=t("job_applications.status.#{a.status}")%>)</p>
                <%= link_to "Ver currículo de #{a.candidate.firstname}", resume_path(a.candidate) %> 
                <%= link_to "Fazer proposta para #{a.candidate.firstname}", new_job_application_job_proposal_path(a) %>
                <%= link_to "Rejeitar candidatura de #{a.candidate.firstname}", root_path %>
            <%end%>
        <%end%>
    </div>

    <div class="contentblock">
        <h2>Propostas enviadas</h2>
        <% @company.job_opportunities.each do |o| %>
            <% o.job_applications.each do |a| %>
                <% if a.job_proposal %>
                <%= link_to "#{a.job_opportunity.job_title} - #{a.candidate.firstname} #{a.candidate.surname}", job_application_job_proposal_path(a, a.job_proposal) %>
                <% end %>
            <% end %>
        <% end %>
    </div>

<% end %>

<div class="contentblock">
    <h2>Dados da empresa</h2>
    <p class="field"><%= t('.name') %></p>
    <%= @company.name %> 
    <p class="field"><%= t('.domain') %></p>
    <%= @company.domain %>
    <p class="field"><%= t('.address') %></p>
    <%= @company.address %>
    <p class="field"><%= t('.cnpj') %></p>
    <%= @company.cnpj %>
</div>

<div class="contentblock">
    <h2>Vagas disponíveis</h2>
    <% if @company.job_opportunities.active.count == 0 %>
        <p>Nenhuma vaga ativa no momento.</p>
    <% else %>
        <% @company.job_opportunities.active.each do |job| %>
        <p><%= link_to "#{job.job_title}", job_opportunity_path(job) %> </p>
        <%end%>
    <%end%>
</div>




