<div class="contentblock">
  <h1>Fazer proposta para candidato: </h1>
  <%=t('.firstname')%>: <%= @job_proposal.candidate.full_name %><br>
  <%=t('.job_opportunity')%>: <%= @job_proposal.job_title %>

  <%= simple_form_for([@job_application, @job_proposal]) do |f| %>
    <%= f.input :message %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :salary_proposal %>
    <%= f.button :submit, 'Enviar' %>
  <% end %>

  <%= back_button %>
</div>