<div class="contentblock">
  <h1>Fazer proposta para candidato: </h1>
  <%=t('.firstname')%>: <%= @job_application.candidate.firstname %><br>
  <%=t('.job_opportunity')%>: <%= @job_application.job_opportunity.job_title %>

  <%= simple_form_for([@job_application, @job_proposal]) do |f| %>
    <%= f.input :message %>
    <%= f.input :start_date, as: :string %>
    <%= f.input :salary_proposal %>
    <%= f.submit 'Enviar' %>
  <% end %>

  <p><%= link_to 'Voltar', company_path(current_employee.company) %>
</div>