<div class="contentblock">
    <h2>Proposta (<%=t(".status.#{@job_proposal.status}")%>)</h2>

    <p><%= t('.message') %>:
    <%= @job_proposal.message %></p>
    <p><%= t('.salary_proposal') %>:
    <%= @job_proposal.salary_proposal %></p>
    <p><%= t('.start_date') %>:
    <%= @job_proposal.start_date %></p>

    <% if candidate_signed_in? && @job_proposal.status == 'waiting' %>

        <h4>Aceitar proposta</h4>

        <div class= "accept-form">
            <%= form_tag accept_job_application_job_proposal_path, method: :post do %>
                <div>
                    <%= label_tag t('.start_date_confirmation') %>
                    <%= text_field_tag :start_date_confirmation, params[:start_date_confirmation] %>
                </div>
                <%= submit_tag 'Confirmar', class: 'btn btn-success' %>
            <% end %>
        </div>

        <h4>Rejeitar proposta</h4>

        <div class= "reject-form">
            <%= form_tag reject_job_application_job_proposal_path, method: :post do %>
                <div>
                    <%= label_tag t('.rejection_motive') %>
                    <%= text_field_tag :rejection_motive, params[:rejection_motive] %>
                </div>
                <%= submit_tag 'Confirmar', class: 'btn btn-success' %>
            <% end %>
        </div>

    <% end %>

</div>

<% if @job_proposal.accepted? %>
    <div class="contentblock">
        <h2>Data de início</h2>
        <%= @job_proposal.start_date_confirmation %>

    </div>
<% end %>

<% if @job_proposal.rejected? %>
    <div class="contentblock">
        <h2><%=t('.rejection_motive')%></h2>
      <%= @job_proposal.rejection_motive %>
    </div>
<% end %>