<center>
<div class="contentblock">
<h1>Preencha seu currículo</h1>

<%= form_for(@resume) do |f| %>
  
  <div>
    <%= f.label :education %>
    <%= f.text_field :education %>
  </div>
    <div>
    <%= f.label :experience %>
    <%= f.text_field :experience %>
  </div>
     <div>
    <%= f.label :languages %>
    <%= f.text_field :languages %>
  </div>
      <div>
    <%= f.label :abilities %>
    <%= f.text_field :abilities %>
  </div>
     <div>
    <%= f.label :courses %>
    <%= f.text_field :courses %>
  </div>

<%= f.submit 'Atualizar currículo' %>

<% end %>

<p><%= link_to 'Voltar', root_path %>

</div>