<div class="contentblock">
  <h1>Preencha seu currículo</h1>

  <%= simple_form_for(@resume) do |f| %>
    <%= f.input :education %>
    <%= f.input :experience %>
    <%= f.input :languages %>
    <%= f.input :abilities %>
    <%= f.input :courses %>
    <%= f.submit 'Atualizar currículo', :class => "button" %>
  <% end %>

  <p><%= link_to 'Voltar', root_path %>
</div>