<center>

<div class="contentblock">

<% if candidate_signed_in? && current_candidate == @resume.candidate %>
<%= link_to 'Editar currículo', edit_resume_path(@resume) %>
<% end %>

<h2>Currículo</h2>

<h5><%=t(".full_name")%>:</h5>
<p><%=@resume.candidate.firstname%> <%=@resume.candidate.surname%></p>

<h5><%=t(".address")%>:</h5>
<p><%= @resume.candidate.address%></p>

<h5><%=t(".education")%>:</h5>
<p><%= @resume.education%></p>

<h5><%=t(".experience")%>:</h5>
<p><%= @resume.experience%></p>

<h5><%=t(".languages")%>:</h5>
<p><%= @resume.languages%></p>

<h5><%=t(".abilities")%></h5>
<p><%= @resume.abilities%></p>

<h5><%=t(".courses")%>:</h5>
<p><%= @resume.courses%></p>

</div>


