<center>

<div class="contentblock">

<% if candidate_signed_in? && current_candidate == @resume.candidate %>
<%= link_to 'Editar currículo', edit_resume_path(@resume) %>
<% end %>

<h2>Currículo</h2>

<h3><%=t(".full_name")%>:</h3>
<p><%=@resume.candidate.firstname%> <%=@resume.candidate.surname%></p>

<h3><%=t(".address")%>:</h3>
<p><%= @resume.candidate.address%></p>

<h3><%=t(".education")%>:</h3>
<p><%= @resume.education%></p>

<h3><%=t(".experience")%>:</h3>
<p><%= @resume.experience%></p>

<h3><%=t(".languages")%>:</h3>
<p><%= @resume.languages%></p>

<h3><%=t(".abilities")%></h3>
<p><%= @resume.abilities%></p>

<h3><%=t(".courses")%>:</h3>
<p><%= @resume.courses%></p>

</div>


