<center>

<div class="contentblock">

<% if candidate_signed_in? && current_candidate == @resume.candidate %>
<%= link_to 'Editar currículo', edit_resume_path(@resume) %>
<% end %>

<h2>Currículo</h2>

<h4>Nome completo: <%=@resume.candidate.firstname%> <%=@resume.candidate.surname%></h4>
<h4>Endereço</h4>
<h3><%= @resume.address%></h3>
<h4>Formação</h4>
<h3><%= @resume.education%></h3>
<h4>Experiências profissionais</h4>
<h3><%= @resume.experience%></h3>
<h4>Idiomas</h4>
<h3><%= @resume.languages%></h3>
<h4>Conhecimentos</h4>
<h3><%= @resume.abilities%></h3>
<h4>Cursos</h4>
<h3><%= @resume.courses%></h3>




</div>