<%= render(BoxComponent.new(color: :transparent)) do |component| %>
  <% component.title { 'Search' } %>
  <% component.body do %>
    <%= form_tag(search_results_path, method: :get) do |f| %>
      <div class="search_container">
        <%= text_field_tag :search_input,
                           params[:search_input],
                           placeholder: t('.search_placeholder'),
                           required: true %>
        <button type="submit"><i class="fa fa-search green-icon"></i></button>
      </div>
    <% end %>
  <% end %>
<% end %>

<%= render(BoxComponent.new) do |component| %>
  <% component.title { 'Vagas Recentes' } %>
  <% component.body do %>
    <%= render(GridComponent.new(columns: 5)) do %>
      <% @job_opportunities.each do |job| %>
        <%= render(JobPreviewComponent.new(job_opportunity: job)) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
