<%= render(BoxComponent.new) do |box| %>
  <% box.title do %>
    <%= @job_opportunity.job_title %>
    <%= job_opportunity_status_tag(@job_opportunity.status) %>
    <%= employee_links(@job_opportunity) %>
  <% end %>

  <% box.body do %>
    <p><%= link_to @job_opportunity.company.name, @job_opportunity.company %> | <%= @job_opportunity.place %></p>
    <p><%= basic_info(@job_opportunity) %></p>
    <p><b><%= t('.description') %></b><br><%= @job_opportunity.description %></p>

    <%= candidate_links(@job_opportunity) %>
  <% end %>
<% end %>

<% if @employee %>
  <% size = @job_applications.size %>
  <%= render(BoxComponent.new(behavior: :collapsible)) do |box| %>
    <% box.title { "#{t('.job_applications.title')} (#{size})" }%>
    
    <% box.body do %>
      <% if size.positive? %>
        <% @job_applications.each do |job_application| %>
          <%= render(ListItemComponent.new) do |component| %>
            <% component.button { see_more(job_application) } %>
            <div class="flexrow">
              <%= user_avatar(job_application.candidate, size: '45x45', link: job_application.candidate) %>
              <div>
                <span class="bold"><%= job_application.candidate.full_name %></span><br>
                <%= job_application_status_tag(job_application.status) %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div class="empty_state"><%= t('.job_applications.empty_state') %></div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
