<center>
<div class="contentblock">
<h2> <%= I18n.t :job_opportunity %> (<%=t(".#{@job_opportunity.status}")%>)  </h2>
<p> <%= I18n.t :company %> </p>
<p><%= @job_opportunity.company.name %></p>
<p> <%= I18n.t :job_title %> </p>
<p><%=@job_opportunity.description%></p>
<p> <%= I18n.t :job_level %> </p>
<p><%=@job_opportunity.job_title%></p>
<p> <%= I18n.t :description %> </p>
<p><%=@job_opportunity.job_level%></p>
<p> <%= I18n.t :salary_range %> </p>
<p><%=@job_opportunity.salary_range%></p>
<p> <%= I18n.t :place %> </p>
<p><%=@job_opportunity.place %></p>

<% unless employee_signed_in? || @job_opportunity.inactive? %>
<h4><%= link_to 'Inscrever-se nesta vaga', create_job_application_job_opportunity_path(@job_opportunity), method: :post %></h4>
<% end %>

<% if employee_signed_in? && current_employee.company == @job_opportunity.company %>
    <% if @job_opportunity.active? %>
        <%=link_to 'Inativar vaga', inactivate_job_opportunity_job_opportunity_path(@job_opportunity), method: :post%>
    <% elsif @job_opportunity.inactive? %>
        <%=link_to 'Ativar vaga', activate_job_opportunity_job_opportunity_path(@job_opportunity), method: :post%>
    <%end%>
<%end%>

</div>

<% if employee_signed_in? && current_employee.company == @job_opportunity.company %>
<div class="contentblock">

<h2>Candidaturas recebidas para esta vaga:</h2>
    <% if @job_opportunity.job_applications.count > 0 %>
        <% @job_opportunity.job_applications.each do |a| %>
        <p><%=@job_opportunity.job_title %> - <%= link_to "#{a.candidate.firstname} #{a.candidate.surname}", resume_path(a.candidate) %></p>
        <%end%>
    <% else %>
    Nenhum candidato se inscreveu para esta vaga
    <%end%>

</div>
<%end%>