<center>
<div class="contentblock">
<h2> <%=@job_opportunity.job_title%> (<%=t(".#{@job_opportunity.status}")%>)  </h2>
<p> <%= t('.company') %>: <%= @job_opportunity.company.name %></p>
<p> <%= t('.job_level') %>: <%=@job_opportunity.job_level%></p>
<p> <%= t('.description') %>: <%=@job_opportunity.description%></p>
<p> <%= t('.salary_range') %>: <%=@job_opportunity.salary_range%></p>
<p> <%= t('.place') %>: <%=@job_opportunity.place %></p>
<p> <%= t('.limit_date') %>: <%=@job_opportunity.limit_date %></p>


<% unless employee_signed_in? || @job_opportunity.inactive? %>
<h4><%= link_to 'Inscrever-se nesta vaga', create_job_application_job_opportunity_path(@job_opportunity), method: :post %></h4>
<% end %>

<% if employee_signed_in? && current_employee.company == @job_opportunity.company %>
    <% if @job_opportunity.active? %>
        <%=link_to 'Inativar vaga', inactivate_job_opportunity_job_opportunity_path(@job_opportunity), method: :post%>
    <% elsif @job_opportunity.inactive? %>
        <%=link_to 'Ativar vaga', activate_job_opportunity_job_opportunity_path(@job_opportunity), method: :post%>
    <%end%>
<%end%>

<% if employee_signed_in? %>
<%= link_to 'Editar vaga', edit_job_opportunity_path(@job_opportunity) %>
<%end%>

</div>

<% if employee_signed_in? && current_employee.company == @job_opportunity.company %>
<div class="contentblock">

<h2>Candidaturas recebidas para esta vaga:</h2>
    <% if @job_opportunity.job_applications.count > 0 %>
        <% @job_opportunity.job_applications.each do |a| %>
        <p><%=@job_opportunity.job_title %> - <%= a.candidate.firstname %> <%= a.candidate.surname %></p>
        <p><%= link_to "Ver currículo de #{a.candidate.firstname}", resume_path(a.candidate) %> 
        <p><%= link_to "Fazer proposta para #{a.candidate.firstname}", new_job_application_job_proposal_path(a) %>
        <%end%>
    <% else %>
    Nenhum candidato se inscreveu para esta vaga
    <%end%>

</div>
<%end%>