<div class="contentblock">
  <h2><%= @job_opportunity.job_title %> (<%= t(".#{@job_opportunity.status}") %>)</h2>

  <p><%= t('.company') %>: <%= @job_opportunity.company.name %></p>
  <p><%= t('.job_level') %>: <%= @job_opportunity.job_level %></p>
  <p><%= t('.description') %>: <%= @job_opportunity.description %></p>
  <p><%= t('.salary_range') %>: <%= @job_opportunity.salary_range %></p>
  <p><%= t('.place') %>: <%= @job_opportunity.place %></p>
  <p><%= t('.limit_date') %>: <%= @job_opportunity.limit_date %></p>

  <%= employee_links(@job_opportunity) %>
  <%= candidate_links(@job_opportunity) %>
</div>

<% if @employee %>
  <div class="contentblock">
    <h2>Candidaturas recebidas para esta vaga:</h2>
    
    <% if @job_applications.size.positive? %>
      <% @job_applications.each do |a| %>
        <h4><%=@job_opportunity.job_title %> - <%= a.candidate.firstname %> <%= a.candidate.surname %> (<%= t(".job_applications.status.#{a.status}") %>)</h4>
        <%= link_to "Ver perfil de #{a.candidate.firstname}", candidate_path(a.candidate) %> 
        <%= link_to "Fazer proposta para #{a.candidate.firstname}", new_job_application_job_proposal_path(a) %>
        <%= link_to "Rejeitar candidatura de #{a.candidate.firstname}", root_path %>
      <% end %>
    <% else %>
      Nenhum candidato se inscreveu para esta vaga
    <% end %>
  </div>
<% end %>
