<%= render(BoxComponent.new) do |box| %>
  <% box.title do %>
    <%= @job_opportunity.job_title %>
    <%= job_opportunity_status_tag(@job_opportunity.status) %>
    <%= employee_links(@job_opportunity) %>
  <% end %>

  <% box.body do %>
    <p><%= t('.company') %>: <%= @job_opportunity.company.name %></p>
    <p><%= t('.job_level') %>: <%= @job_opportunity.job_level %></p>
    <p><%= t('.description') %>: <%= @job_opportunity.description %></p>
    <p><%= t('.salary_range') %>: <%= @job_opportunity.salary_range %></p>
    <p><%= t('.place') %>: <%= @job_opportunity.place %></p>
    <p><%= t('.limit_date') %>: <%= @job_opportunity.limit_date.strftime("%d/%b/%Y") %></p>

    <%= candidate_links(@job_opportunity) %>
  <% end %>
<% end %>

<% if @employee %>
  <%= render(BoxComponent.new) do |box| %>
    <% box.title { t('.job_applications.title') }%>
    
    <% box.body do %>
      <% if @job_applications.size.positive? %>
        <% @job_applications.each do |a| %>
          <%= render(ListItemComponent.new) do |component| %>
            <% component.button { see_more(a.candidate) } %>
            <div class="flexrow">
              <%= user_avatar(a.candidate, size: '45x45', link: candidate_path(a.candidate)) %>
              <div>
                <b><%= a.candidate.full_name %> (<%= t(".job_applications.status.#{a.status}") %>)</b><br>
                <%= link_to("Ver perfil", candidate_path(a.candidate)) %>
              </div>
            </div>
            
          <% end %>
        <% end %>
      <% else %>
        <div class="empty_state"><%= t('.job_applications.empty_state') %></div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
