<%= render(BoxComponent.new) do |box| %>
  <% box.title do %>
    <%= @job_opportunity.job_title %>
    <%= job_opportunity_status_tag(@job_opportunity.status) %>
    <%= employee_links(@job_opportunity) %>
  <% end %>

  <% box.body do %>
    <p><%= link_to @job_opportunity.company.name, @job_opportunity.company %> | <%= @job_opportunity.place %></p>
    <p><%= basic_info(@job_opportunity) %></p>
    <p><b><%= t('.description') %></b><br><%= @job_opportunity.description %></p>

    <%= candidate_links(@job_opportunity) %>
  <% end %>
<% end %>

<% if @employee %>
  <%= render(BoxComponent.new) do |box| %>
    <% box.title { t('.job_applications.title') }%>
    
    <% box.body do %>
      <% if @job_applications.size.positive? %>
        <% @job_applications.each do |a| %>
          <%= render(ListItemComponent.new) do |component| %>
            <% component.button { see_more(a.candidate) } %>
            <div class="flexrow">
              <%= user_avatar(a.candidate, size: '45x45', link: candidate_path(a.candidate)) %>
              <div>
                <b><%= a.candidate.full_name %> (<%= t(".job_applications.status.#{a.status}") %>)</b><br>
                <%= link_to("Ver perfil", candidate_path(a.candidate)) %>
              </div>
            </div>
            
          <% end %>
        <% end %>
      <% else %>
        <div class="empty_state"><%= t('.job_applications.empty_state') %></div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
