<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if controller_name == "home" %>
      <%= stylesheet_link_tag 'homepage', media: 'all' %>
    <% else %>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    <% end %>

    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

    <%= render(NavbarComponent.new(title: 'Jobs')) do |nav| %>
      <% nav.left do %>
        <%= link_to 'Empresas', companies_path %>
        <%= link_to 'Vagas', job_opportunities_path %>
        <%= link_to 'Candidatos', candidates_path %>
      <% end %>
      <% nav.right do %>
        <% employee_nav_links %>
        <% candidate_nav_links %>
      <% end %>
    <% end %>

    <% if notice %>
      <p class="alert success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert danger"><%= alert %></p>
    <% end %>
    <%= render(ContainerComponent.new) do %>
      <%= yield %>
    <% end %>

  </body>
</html>
