<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if controller_name == "home" %>
      <%= stylesheet_link_tag    'homepage', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

    <%= render(NavbarComponent.new(current_user: current_candidate || current_employee || nil)) %>

    <% if notice %>
      <p class="alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert-danger"><%= alert %></p>
    <% end %>
  
    <%= yield %>

  </body>
</html>
