<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="nav">
  <%= link_to 'Página inicial', root_path %>
  <%= link_to 'Área do candidato', new_candidate_session_path %>
  <%= link_to 'Área da empresa', new_employee_session_path %>

  <% if employee_signed_in? %>
  <%= link_to 'Área da empresa', company_path(current_employee.company) %>
  <%= current_employee.email %> (<%=current_employee.company.name%> - <%=current_employee.role%>) 
  <%= link_to 'Sair', destroy_employee_session_path, method: :delete %>
  <% end %>

  <% if candidate_signed_in? %>
  <%= link_to 'Sair', destroy_candidate_session_path, method: :delete %>
  <% end %>
  </div>
  
  <center>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  </center>

    <%= yield %>
  </body>
</html>
