<!DOCTYPE html>
<html>
  <head>
    <title>Jobs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render(NavbarComponent.new(current_user: current_candidate || current_employee || nil)) %>

  <center>
  <% if notice %>
    <p class="alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert-danger"><%= alert %></p>
  <% end %>
  </center>

    <%= yield %>
  </body>
</html>
